*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  border: 5px solid black;
  width: 400px;
  height: 500px;
}

.calculator_display {
  border: 3px solid gray;
  /* padding: 2rem 1rem; */
  /* margin: 1rem; */
}
